<?xml version="1.0" encoding="UTF-8"?>
<!-- Production Environment -->
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>
		<Logger name="com.digitusrevolution.rideshare" level="info"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="com.digitusrevolution.rideshare.ride.domain"
			level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger
			name="com.digitusrevolution.rideshare.ride.data"
			level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger
			name="com.digitusrevolution.rideshare.common.util.external.RouteBoxer"
			level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger
			name="com.digitusrevolution.rideshare.ride.data.RidePointDAO"
			level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<!-- This is required only if you want to see parameters passed in SQL statement 
		<Logger
			name="org.hibernate.type"
			level="trace" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>-->
	</Loggers>
</Configuration>