<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3307/ridesharedb</property>
		<property name="connection.username">root</property>
		<property name="connection.password">password</property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>
		
		<property name="current_session_context_class">thread</property>
	
		<!-- Default value is also false for autocommit -->
		<!-- <property name="connection.autocommit">false</property> --> 

		<!-- Names the annotated entity class -->
		<!-- User System -->
		<mapping class="com.digitusrevolution.rideshare.model.user.data.core.GroupEntity" />
		<mapping class="com.digitusrevolution.rideshare.model.user.data.core.UserEntity" />
		<mapping class="com.digitusrevolution.rideshare.model.user.data.core.VehicleEntity" />
		<mapping class="com.digitusrevolution.rideshare.model.user.data.core.AccountEntity" />
	
		<mapping class="com.digitusrevolution.rideshare.model.user.data.CityEntity" />
		<mapping class="com.digitusrevolution.rideshare.model.user.data.CountryEntity" />
		<mapping class="com.digitusrevolution.rideshare.model.user.data.CurrencyEntity" />		
		<mapping class="com.digitusrevolution.rideshare.model.user.data.PhotoEntity" />
		<mapping class="com.digitusrevolution.rideshare.model.user.data.RoleEntity" />
		<mapping class="com.digitusrevolution.rideshare.model.user.data.StateEntity" />
		<mapping class="com.digitusrevolution.rideshare.model.user.data.VehicleCategoryEntity" />
		<mapping class="com.digitusrevolution.rideshare.model.user.data.VehicleSubCategoryEntity" />
	
		<!-- Service Provider System -->
		<mapping class="com.digitusrevolution.rideshare.model.serviceprovider.data.core.CompanyEntity" />

		<!-- Ride System -->		
		<mapping class="com.digitusrevolution.rideshare.model.ride.data.core.RideEntity" />
		<mapping class="com.digitusrevolution.rideshare.model.ride.data.core.RideRequestEntity" />
	
		<mapping class="com.digitusrevolution.rideshare.model.ride.data.PointEntity" />
		<mapping class="com.digitusrevolution.rideshare.model.ride.data.RecurringDetailEntity" />
		<mapping class="com.digitusrevolution.rideshare.model.ride.data.TrustCategoryEntity" />
		<mapping class="com.digitusrevolution.rideshare.model.ride.data.TrustNetworkEntity" />

		<!-- Billing System -->		
		<mapping class="com.digitusrevolution.rideshare.model.billing.data.core.BillEntity" />
	
	</session-factory>
</hibernate-configuration>
